body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282a36;
    color: white;
}

#imagePreview img {
    max-width: 100%;
    margin: 20px 0;
}

#output {
    margin-top: 20px;
}
